<h1>Editing <%= @song.name %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= collection_select(:song, :artist_id, @artists, :id, :name, prompt: true) %>
  <br />
  <%= f.submit %>
<% end %>
